@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
}

html, body {
    min-height: 100%; /* makes gradients as tall as the viewport*/
}

html {
    font-family: 'Roboto', sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+71 */
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 71%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 71%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#828c95',GradientType=0 ); /* IE6-9 */

}

body {
    min-width: 780px;
    background: url(images/5.png) no-repeat, 
    url(images/circuitry.png) no-repeat right top;
}

nav {
    margin-left: 235px;
    height: 60px;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 100px;
}

nav a {
    line-height: 60px;
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
}

nav a:hover, .active{
    background-color: #999;
    margin: 0 auto;
}

h1 {
    margin-left: 180px;
    color: #666;
    text-shadow: 1px 1px 0px #fff; /* x-offset y-offset blur color */
}

h1, h2, p {
    margin-bottom: .5em;
}

#box {
    margin-left: 220px;
    margin-right: 10%;
}

footer {
    margin-top: 3em;
}

footer a{
    background: #fff;
    border: 2px solid #666; /* Thickness style color */
    padding: 10px 20px;
    border-radius: 300px;
    box-shadow: 3px 4px 10px #333;
    float: left;
}

footer a:hover {
    background-color: #446395;
    color: #fff;
}

a {
    text-decoration: none;
    color: #446395;
}

#next {
    float: right;
}

code {
    color: #fff;
    font-size: 125%;
    text-shadow: 2px 3px 10px #000;
    margin-bottom: 1em;
    display: block;
}

ul li {
    list-style-type: circle ;
    margin-left: 0px;
    margin-bottom: 1em;
}

li {
    padding: 0;
    margin-left: 0px;
}

